<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncFirefoxDriver" version="1.3.12" targetFramework="net472" />
  <package id="AsyncWebDriver" version="1.3.2" targetFramework="net472" />
  <package id="IAsyncWebBrowserClient" version="0.1.10" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net472" />
  <package id="NUnit" version="3.13.1" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
</packages>